create table if not exists public.app_settings (
    id int generated by default as identity primary key,
    delivery_fee_standard decimal default 0,
    delivery_fee_express decimal default 0,
    tax_rate decimal default 0,
    support_email text,
    maintenance_mode boolean default false,
    created_at timestamp with time zone default timezone('utc'::text, now()) not null
);

-- Insert default row if not exists
insert into public.app_settings (id, delivery_fee_standard, delivery_fee_express, tax_rate, support_email, maintenance_mode)
values (1, 0, 0, 0, 'support@sleeponix.com', false)
on conflict (id) do nothing;

-- Enable RLS
alter table public.app_settings enable row level security;

-- Policy: Allow read access to everyone (public settings)
create policy "Allow public read access"
on public.app_settings for select
to public
using (true);

-- Policy: Allow update access to admins only
-- Note: Assuming you have an admin role or check via app_metadata
create policy "Allow admin update access"
on public.app_settings for update
to authenticated
using (
  (auth.jwt() ->> 'email') like '%@sleeponix.com' -- Simple check for now, can be improved with role check
  OR
  (auth.jwt() -> 'app_metadata' ->> 'role') = 'admin'
)
with check (
  (auth.jwt() ->> 'email') like '%@sleeponix.com'
  OR
  (auth.jwt() -> 'app_metadata' ->> 'role') = 'admin'
);
